<div class="row about-container">
  <div class="col-xs-12">
    <div class="box">
      <h2>About the App</h2>
      <mat-card class="about-card">
        <mat-card-header>
          <mat-card-subtitle
            >Your go-to place for Star Wars starship
            information</mat-card-subtitle
          >
        </mat-card-header>

        <mat-card-content>
          <p>
            Welcome to <strong>{{ appName }}</strong
            >, an interactive platform designed to provide detailed information
            on iconic starships from the Star Wars universe. This app was
            created to offer a comprehensive and easily navigable database of
            starships, allowing fans to explore their characteristics, history,
            and specifications.
          </p>
          <p>
            We believe in making Star Wars history accessible to everyone—from
            hardcore fans to those just getting started in the galaxy far, far
            away.
          </p>
          <h4>Why this App?</h4>
          <p>
            Star Wars has introduced countless legendary ships, each with its
            own unique history, design, and role in epic battles. Our goal is to
            gather this information into one place for you to explore and learn
            more about the vehicles that have shaped the galaxy's history in a
            nice easy to use interface.
          </p>
          <h4>Developed By</h4>
          <p>
            This app was created by {{ devName }}, a passionate Star Wars fan
            and developer. The goal was to combine love for the Star Wars
            universe with the power of modern web technologies to create an
            engaging and informative experience for fans worldwide.
          </p>
          <p>
            If you enjoy this project, checkout my
            <a [href]="githubUrl" target="_blank">Github</a> for more.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
