<ng-container>
  <p>
    Welcome to the Archives! Explore an extensive collection of iconic Star Wars
    starships, from the agile X-Wing to the mighty Star Destroyer. These ships
    have shaped the galaxy's history and played pivotal roles in its legendary
    battles. Whether you're a lifelong fan or new to the saga, you can dive into
    each ship's specs, learn fun facts, and uncover their legacy.
  </p>
  <div class="intro-call-to-action">
    Click each ship to explore more fascinating details about its design,
    capabilities, and role in the Star Wars universe!
  </div>
</ng-container>
