<div class="row center-md">
  <div class="col">
    <div class="hero">
      <div class="hero-content">
        <h1>Welcome to {{ title }}</h1>
        <p>Discover the iconic starships from the Star Wars universe!</p>
        <button mat-fab extended color="accent" routerLink="/explore">
          <mat-icon>explore</mat-icon>
          Explore Archives
        </button>
      </div>
    </div>
    <div class="featured-starships">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Fan Favorites</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile class="grid-tile">
              <div class="tile-content">Millennium Falcon</div>
            </mat-grid-tile>
            <mat-grid-tile class="grid-tile">X-Wing</mat-grid-tile>
            <mat-grid-tile class="grid-tile">Slave I</mat-grid-tile>
            <mat-grid-tile class="grid-tile">Star Destroyer</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>See Full List</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
