.disabled {
  pointer-events: none; /* Disables all interactions */
  opacity: 0.5; /* Makes the content appear faded */
}

.details {
  width: 100%;
  padding-bottom: 1em;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: var(--mat-sys-surface-bright);
  color: var(--mat-sys-primary);
}

tr.element-row:not(.expanded-row):active {
  background: var(--mat-sys-surface-bright);
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.search-container {
  padding: 0.75em 0.25em;
}
