@use "@angular/material" as mat;
@use "./theme-colors" as theme;

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gutterless-container {
  margin-left: 0;
  margin-right: 0;
}
